.stat {
  @extend .container;
  @extend .well;
  @extend .clearfix;
}

.general-info {
  @extend .col-sm-4;
}

.avatar {
  max-width: 180px;
  width: 90%;
  margin: 20px;
  border-radius: 50%;
}

.user-stat {
  @extend .list-group;
  @extend .col-sm-4;
  li {
    @extend .list-group-item;
  }
}

.detail-info {
  @extend .col-sm-4;
  @extend .list-group;
  a {
    @extend .list-group-item;
  }
}

.info-section {
  @extend .container;
}