@import 'vendor/bootstrap-sass-official/assets/stylesheets/bootstrap';

@import 'vendor/font-awesome/scss/font-awesome';
@import '_statistics';
@import '_statistic';
@import '_repositories';

html, body {
  // margin: 20px;
}
#github-stats {
  @extend .container;
}
.stats-menu {
  @extend .breadcrumb;
  li {
    display: inline;
  }
}