<div id="github-stats">
  <h2 id='title'>Github Statistics</h2>
  <nav class="stats-menu">
    <li>{{#link-to 'index'}}Index Route (redirect to stats){{/link-to}}</li>
    <li>{{#link-to 'statistics'}}Statistics{{/link-to}}</li>
    <li>{{#link-to}}Repo{{/link-to}}</li>
    <li>{{#link-to}}Languages{{/link-to}}</li>
    <li>{{#link-to}}Developers{{/link-to}}</li>
  </nav>
  {{outlet}}
</div>
