<div id="github-stats">
  <h2 id='title'>Github Statistics</h2>
  <ol class="stats-menu">
    <li>{{#link-to 'index'}}Index Route{{/link-to}} \</li>
    <li>{{#link-to 'statistics'}}Statistics{{/link-to}} \</li>
  </ol>
  {{outlet}}
</div>
