<div class="repo-info">
<aside class="repo-list">
  <ul>
    {{#each repository in model}}
      <li>
        {{#link-to 'repository' repository}}
          {{repository.name}}
        {{/link-to}}
      </li>
    {{/each}}
  </ul>
</aside>
<section class="repo-detail">
  <h4>Repository Detail</h4>
  {{outlet}}
</section>
</div>