<aside class="repo-list">
  <table class="table table-bordered table-striped">
    <tbody>
    {{#each}}
    <tr>
      <td>{{name}}</td>
    </tr>
    {{/each}}
    </tbody>
  </table>
</aside>
<section class="repo-detail">
  {{outlet}}
</section>
