<aside class="repo-list">
  <table class="table table-bordered table-hover">
    <tbody>
    {{#each repository in model}}
    <tr>
      <td>{{#link-to 'repository' repository}}{{repository.name}}{{/link-to}}</td>
    </tr>
    {{/each}}
    </tbody>
  </table>
</aside>
<section class="repo-detail">
  {{outlet}}
</section>
