<h3 class="statistics-header">
  Statistics
</h3>
<div class="stats">
  <table class="table table-striped table-bordered">
    <tbody>
      {{#each developer in model}}
        <tr><td>{{#link-to 'statistic' developer.id}}{{developer.name}}{{/link-to}}</td></tr>
      {{/each}}
    </tbody>
  </table>
</div>
<form class="developer-search-section">
  <label for="developer">Search developer</label>
  {{input }}
</form>
<button class="btn btn-primary" {{action "clickMe"}}>Button</button>
